# Terraform state
terraform.tfstate
terraform.tfstate.backup

# Terraform cache/plugins
.terraform/

# IDE/config
*.tfplan
*.log

# Se tiver secrets no tfvars, ignore-os
envs/**/secrets.tfvars

# macOS specific
.DS_Store

# IDEs (exemplo: VSCode)
.vscode/
.idea/

