# Terraform state
*.tfstate
*.tfstate.*
crash.log

# Terraform plan output
*.tfplan

.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log

# Terraform variable files (se tiver secrets locais)
*.tfvars
*.tfvars.json

# Diretórios gerados pelo Terraform
.terraform/

# Logs ou arquivos temporários
*.log
*.backup

# macOS specific
.DS_Store

# IDEs (exemplo: VSCode)
.vscode/
.idea/

